body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/originals/ed/44/d1/ed44d114115ad4d598c994bb0e7e476e.jpg");

}

button{
    border-radius: 8px;
    margin: 10px;
    width: 100px;
    padding: 2px;
    border: 1px solid black;
    transition-duration: 0 s;
}

button:hover{
    border: 2px solid black;
    font-weight: bold;
}


#control-panel{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
}

#left-panel{
    width: 10%;
    height: 400px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

#top-controls{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

#bottom-controls{
    display:flex;
    flex-direction: column;
    justify-content:space-around;

}

#right-panel{
    width: 10%;
    height: 400px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
}

#sketchpad{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#controls-1{
    font-size: 18px;
    font-weight: bold;
    color: green;
    margin: 20px;
    text-align: center;
}

.top-controls{
    padding: 5px;
    text-align: left;
}

.bottom-controls{
    padding:1px;
}

#git{
    width: 20%;
    position: absolute; 
    right: 0; 
    bottom: 0;
}

#git-holder{ 
    position: relative; 
    height: 24px; 
}



.grid-item:hover{
    background-color: red;
}

input[type=number]{
    width: 30px;
} 
